{{#if bookmark.bookmarks}}
  <h1>Your bookmarked questions:</h1>
  {{#each bookmark.bookmarks as |question|}}
    <div class="displayBox">
      <h3 class="questionHeader">
        {{#link-to 'question' question.id}}
          {{question.title}}
        {{/link-to}}
      </h3>

      <h6 class="author">Asked by: {{question.author}} on {{formatted-date question}}</h6>

      {{question-answers question}}
    </div>
  {{/each}}
{{else}}
  <h2>You currently don't have any questions bookmarked!</h2>

  <h4>Get out there and mark some!</h4>
{{/if}}
