<h3>Ask a Question!</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title: </label>
        {{input class="textbox" value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="author">Author: </label>
        {{input class="textbox" value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="content">Question Content: </label>
        {{textarea rows="10" cols="50" class="textboxArea" value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="note">Notes: </label>
        {{textarea rows="5" cols="50" class="textboxArea" value=note id="note"}}
      </div>

      <button {{action 'saveQuestion'}} class="btn btn-success">Ask Question!</button>
    </form>
  </div>
