<span {{action 'bookmarkQuestion' question}} class="glyphicon glyphicon-bookmark"></span>
<h2 class="questionPageHeaders">{{question.title}}</h2>
  <h6 class="author">Asked by: {{question.author}} on {{formatted-date question}}</h6>
  <br>
  <p class="content">{{question.content}}</p>
    <br>
  <h6>Additional Notes: {{question.note}}</h6>
