<div class="row text-center">
  <div class="col-sm-6">
    <h2 class="questionPageHeaders">{{model.title}}</h2>
      <h6 class="author">Asked by: {{model.author}}</h6>
      <br>
    <p class="content">{{model.content}}</p>
      <br>
    <h6>Additional Notes: {{model.note}}</h6>

    {{update-question question=model updateQuestion="updateQuestion"}}


    <button {{action 'destroyQuestion' model}} class="btn btn-danger" id="deleteQuestionBtn">Delete Question</button>

    {{new-answer question=model answer=answer saveAnswer2="saveAnswer3"}}
  </div>

  <div class="col-sm-6">
    <h3 class="questionPageHeaders">Answers for this Question:</h3>
      {{#each model.answer as |answer|}}
        {{display-answer answer=answer}}
      {{/each}}
  </div>
</div>
