<div class="row text-center">
  <div class="col-sm-6">
    <h2>{{model.title}}</h2>
      <h6>Asked by: {{model.author}}</h6>
      <br>
    <p id="question-content">{{model.content}}</p>
      <br>
    <h6>Additional Notes: {{model.note}}</h6>

    {{update-question question=model updateQuestion="updateQuestion"}}

    <button {{action 'destroyQuestion' model}} class="btn btn-danger">Delete Question</button>
  </div>

  <div class="col-sm-6">
    <h3>Post an Answer for this Question:</h3>

  </div>
</div>
